<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/ocr.png') }}">
    <title>Image to Text Converter</title>
    <!-- Link to FontAwesome CDN for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- Link to Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <!-- Link to external CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/index.css') }}">
</head>
<body>
    <div class="navbar">
        <div class="brand">
            Image to Text Converter
        </div>
        {% if 'username' in session %}
        <button class="logout-btn" onclick="location.href='{{ url_for('logout') }}';"><i class="fas fa-sign-out-alt"></i> Logout</button>
        {% endif %}
    </div>
    <div class="container">
        <div class="upload-section">
            <h1>Upload</h1>
            <form id="imageForm" action="{{ url_for('index') }}" method="post" enctype="multipart/form-data">
                <input type="file" id="fileInput" name="file" accept="image/*" required>
                <input type="submit" value="Convert">
            </form>
            <div class="image-preview" id="imagePreview">
                {% if image_file %}
                <img src="data:image/jpeg;base64,{{ image_file }}" alt="Uploaded">
                {% endif %}
            </div>
        </div>
        <div class="text-section">
            {% if text %}
                <h2>Extracted Text</h2>
                <textarea readonly>{{ text }}</textarea>
            {% endif %}
        </div>
    </div>

    <script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
</body>
</html>
