<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/login.png') }}">
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/login.css') }}">
</head>
<body>
    <form class="form_main" method="POST" action="{{ url_for('login_post') }}">
        <p class="heading">Login</p>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="inputContainer">
            <img src="{{ url_for('static', filename='images/username.svg') }}" class="inputIcon" alt="Username Icon">
            <input placeholder="Username" name="username" class="inputField" type="text" required>
        </div>

        <div class="inputContainer">
            <img src="{{ url_for('static', filename='images/password.svg') }}" class="inputIcon" alt="Password Icon">
            <input placeholder="Password" name="password" class="inputField" type="password" required>
        </div>

        <button id="button">Login</button>
        <div class="signupContainer">
            <p>Don't have an account?</p>
            <a href="{{ url_for('register') }}">Sign up</a>
        </div>
    </form>
</body>
</html>
